<!doctype html>
<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css' />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="@ViewBag.Description" />
    <meta name="keywords" content="Dave Timmins blog development GIS C# geography Esri ArcGIS ArcGISOnline REST JavaScript ASP.NET webservice SignalR ServiceStack Nancy" />
    <meta name="author" content="Dave Timmins" />
    @RenderSection("twitterCardTags", false)
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/blog.min.css")" rel="stylesheet" />
    <link rel="alternate" type="application/rss+xml" title="davetimmins blog" href="http://davetimmins.com/feed" />
    <script type="text/javascript">
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-43823237-1', 'davetimmins.com');
        ga('send', 'pageview');
    </script>
</head>
<body>
    <div class="pure-menu-horizontal pure-menu-fixed pure-g" role="banner">
        <div class="pure-u-1-2">
            <div class="pure-menu">
                <h1><a class="pure-menu-heading custom-font" href="@Url.Content("~/")">davetimmins blog</a></h1>
            </div>
        </div>
        <div class="pure-u-1-2">
            <div class="pure-menu home-links">
                <ul class="pure-menu-list">
                    <li class="pure-menu-item"><a class="pure-menu-link home-menu-link" href="https://github.com/davetimmins" title="davetimmins on GitHub"><i class="fa fa-github fa-2x summary-img"></i></a></li>
                    <li class="pure-menu-item"><a class="pure-menu-link home-menu-link" href="https://twitter.com/davetimmins" title="davetimmins on Twitter"><i class="fa fa-twitter fa-2x summary-img"></i></a></li>
                    <li class="pure-menu-item"><a class="pure-menu-link home-menu-link" href="@Url.Content("~/feed")" title="davetimmins blog feed"><i class="fa fa-rss fa-2x summary-img"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content">
        @ServiceStack.MiniProfiler.Profiler.RenderIncludes().AsRaw()
        @RenderBody()
    </div>
    <div class="pure-menu-horizontal pure-g" role="contentinfo">
        <div class="pure-u-1-2">
            <div class="pure-menu">
                <p class="custom-font">&nbsp; &copy; @DateTime.Now.Year dave timmins</p>
            </div>
        </div>
        <div class="pure-u-1-2">
            <div class="pure-menu home-links">
                <ul class="pure-menu-list home-links">
                    <li class="pure-menu-item"><p class="pure-menu-link custom-font elevator-button">Back to top <i class="fa fa-chevron-up"></i></p></li>
                </ul>
            </div>
        </div>
    </div>
    @RenderSection("scripts", false)
    <script>
        var Elevator = function () { "use strict"; function n(n, e) { for (var t in e) t in n || (n[t] = e[t]); return n } function e(n, e, t, u) { return n /= u / 2, 1 > n ? t / 2 * n * n + e : (n--, -t / 2 * (n * (n - 2) - 1) + e) } function t(n) { s || (s = n); var u = n - s, r = e(u, A, -A, c); window.scrollTo(0, r), c > u ? requestAnimationFrame(t) : o() } function u() { f || (f = !0, A = document.documentElement.scrollTop || d.scrollTop, m || (c = 1.5 * A), requestAnimationFrame(t), l && l.play()) } function o() { s = null, A = null, f = !1, l && (l.pause(), l.currentTime = 0), a && a.play() } function r(n) { n.addEventListener("click", u, !1) } function i(n) { d = document.body, n.element && r(n.element), n.duration && (m = !0, c = n.duration), n.mainAudio && (l = new Audio(n.mainAudio), l.setAttribute("preload", "true"), l.setAttribute("loop", "true")), n.endAudio && (a = new Audio(n.endAudio), a.setAttribute("preload", "true")) } var l, a, d = null, c = null, m = !1, s = null, A = null, f = !1; return n(i, { elevate: u }) }();

        window.onload = function () {
            var elevator = new Elevator({
                element: document.querySelector('.elevator-button'),
                duration: 1000 // milliseconds
            });
        }
    </script>
</body>
</html>
