@inherits ViewPage<BlogPostsModel>
@{
    ViewBag.Title = "davetimmins blog";
    ViewBag.Description = "The blog of Dave Timmins. Focused on GIS development primarily across the ArcGIS platform.";
}
<div class="posts">
    @foreach (BlogPost post in Model.Posts)
    {
        <text>
        <section class="post">
            <header class="post-header">
                <a href="@post.RelativePostUrl">@post.SummaryImageMarkup.AsRaw()</a>
                <h2 class="post-title">
                    <a href="@post.RelativePostUrl">@post.Title</a>
                </h2>
                <h4><i class="fa fa-clock-o fa-2x i-vm"></i> posted on @post.FriendlyDate</h4>
            </header>
            <div class="post-description">
                @post.Summary
            </div>
        </section>
        </text>
    }
</div>

